/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Anjan */
.my-iframe {
    border-radius: 3px;
    width: 80%;
    height: 500px;
    background-color: lightblue;
    position: relative;
    margin: 0 auto;
    top: 20px;
    left: 5%;
}
header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header h1 {
  margin: 0;
  font-size: 32px;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;
  margin-left: 20px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}


body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="date"],
input[type="time"],
select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Specific Styles */
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

#form-link {
  margin-top: 10px;
}

#form-analytics {
  width: 100%;
  height: 300px;
  border: 1px solid #ddd;
}

/* .hideClass{
  display: none;
} */